In [1]:
import pandas as pd

In [31]:
fortune=pd.read_csv('/Users/prashantsagar/Desktop/data /csvfile/fortune1000.csv',index_col="Rank")
sectors=fortune.groupby('Sector')
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [18]:
type(fortune)

pandas.core.frame.DataFrame

In [19]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [20]:
sectors.first()
# it show the result according to sector list

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [21]:
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [26]:
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [28]:
fortune.loc[24]

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

In [43]:
fortune=pd.read_csv('/Users/prashantsagar/Desktop/data /csvfile/fortune1000.csv',index_col="Rank")
sectors=fortune.groupby('Sector')
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

# get_group method

In [34]:
sectors.get_group("Energy")
# it show df in sector which contain only energy

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [42]:
sectors.max()
# it showas the df according mxx(which contain higest value)
sectors.min()
# it shows th df according min 
sectors.mean()
# mena 
sectors.sum()
# sum

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [39]:
sectors.get_group('Apparel')["Profits"].sum()
# altetnate method for specofic columns

8236

In [47]:
# for a any row
sectors["Company"].sum()
sectors['Profits'].mean()
sectors['Revenue'].max()
for multi row
sectors[['Profits','Revenue']].mean()

                                  Profits       Revenue
Sector
Aerospace & Defense           1437.100000  17897.000000
Apparel                        549.066667   6397.866667
Business Services              553.470588   5337.156863
Chemicals                      754.266667   8129.900000
Energy                        -602.024590  12441.057377
Engineering & Construction     204.000000   5922.423077
Financials                    1872.007194  15950.784173
Food and Drug Stores          1117.266667  32251.266667
Food, Beverages & Tobacco     1195.744186  12929.465116
Health Care                   1414.853333  21529.426667
Hotels, Resturants & Leisure   827.880000   6781.840000
Household Products             515.285714   8383.464286
Industrials                    451.391304  10816.978261
Materials                      102.976744   6026.627907
Media                          973.880000   8830.560000
Motor Vehicles & Parts        1079.083333  20105.833333
Retailing                      597.875000  18313.450000
Technology                    1769.343137  13505.882353
Telecommunications            3242.466667  30788.933333
Transportation                1226.916667  11347.444444
Wholesalers                    205.825000  11120.000000

# grouping by multiple columns

In [49]:
fortune=pd.read_csv('/Users/prashantsagar/Desktop/data /csvfile/fortune1000.csv',index_col="Rank")
sectors=fortune.groupby(['Sector','Location'])
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [50]:
sectors.sum()
# much more function we applie here

                                       Revenue  Profits  Employees
Sector              Location
Aerospace & Defense Berwyn, PA            3889      239      15153
                    Bethesda, MD         46132     3605     126000
                    Cedar Rapids, IA      5262      686      19500
                    Charlotte, NC         2264      146       8400
                    Chicago, IL          96114     5176     161400
...                                        ...      ...        ...
Wholesalers         St. Louis, MO         6110       91       8300
                    Tempe, AZ             5373       76       5761
                    The Woodlands, TX     3949       20       2450
                    Tulsa, OK            16802       17       3100
                    Waltham, MA          10315       44       1890

[750 rows x 3 columns]

In [51]:
sectors['Location'].sum()

Sector               Location
Aerospace & Defense  Berwyn, PA                  Berwyn, PA
                     Bethesda, MD              Bethesda, MD
                     Cedar Rapids, IA      Cedar Rapids, IA
                     Charlotte, NC            Charlotte, NC
                     Chicago, IL                Chicago, IL
                                                ...
Wholesalers          St. Louis, MO            St. Louis, MO
                     Tempe, AZ                    Tempe, AZ
                     The Woodlands, TX    The Woodlands, TX
                     Tulsa, OK                    Tulsa, OK
                     Waltham, MA                Waltham, MA
Name: Location, Length: 750, dtype: object

# agg method

In [61]:
fortune=pd.read_csv('/Users/prashantsagar/Desktop/data /csvfile/fortune1000.csv',index_col="Rank")
sectors=fortune.groupby('Sector')
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [58]:
sectors.agg({'Employees': 'mean',
              'Company':'min',
              'Location':'max'})

,Employees,Company,Location
Sector,,,
Aerospace & Defense,48402.850000,B/E Aerospace,"Wichita, KS"
Apparel,23093.133333,Carter’s,"Winston-Salem, NC"
Business Services,26687.254902,ABM Industries,"Troy, MI"
Chemicals,15455.033333,A. Schulman,"Wilmington, DE"
Energy,9745.303279,AES,"Washington, DC"
Engineering & Construction,15642.615385,AECOM,"Watsonville, CA"
Financials,24172.287770,AIG,"Worcester, MA"
Food and Drug Stores,93026.533333,CVS Health,"Woonsocket, RI"
"Food, Beverages & Tobacco",28177.488372,Alliance One International,"Winston-Salem, NC"
Health Care,35710.520000,AbbVie,"York, PA"
"Hotels, Resturants & Leisure",99369.800000,Bloomin’ Brands,"Wyomissing, PA"
Household Products,23072.785714,Avon Products,"Zeeland, MI"
Industrials,33591.934783,3M,"Wilmerding, PA"
Materials,14840.069767,A-Mark Precious Metals,"Wyomissing, PA"
Media,22012.560000,AMC Networks,"Sussex, WI"
Motor Vehicles & Parts,45106.666667,Allison Transmission Holdings,"Van Buren Township, MI"
Retailing,77845.362500,99 Cents Only Stores,"York, PA"
Technology,35087.735294,Activision Blizzard,"Woburn, MA"
Telecommunications,55497.866667,AT&T,"Stamford, CT"
Transportation,42688.694444,Alaska Air Group,"Thomasville, NC"
Wholesalers,13139.925000,Airgas,"Waltham, MA"

In [59]:
sectors.agg(['sum','mean','max'])

                              Revenue                       Profits  \
                                  sum          mean     max     sum
Sector
Aerospace & Defense            357940  17897.000000   96114   28742
Apparel                         95968   6397.866667   30601    8236
Business Services              272195   5337.156863   19330   28227
Chemicals                      243897   8129.900000   48778   22628
Energy                        1517809  12441.057377  246204  -73447
Engineering & Construction     153983   5922.423077   18114    5304
Financials                    2217159  15950.784173  210821  260209
Food and Drug Stores           483769  32251.266667  153290   16759
Food, Beverages & Tobacco      555967  12929.465116   67702   51417
Health Care                   1614707  21529.426667  181241  106114
Hotels, Resturants & Leisure   169546   6781.840000   25413   20697
Household Products             234737   8383.464286   78756   14428
Industrials                    497581  10816.978261  140389   20764
Materials                      259145   6026.627907   22534    4428
Media                          220764   8830.560000   52465   24347
Motor Vehicles & Parts         482540  20105.833333  152356   25898
Retailing                     1465076  18313.450000  482130   47830
Technology                    1377600  13505.882353  233715  180473
Telecommunications             461834  30788.933333  146801   48637
Transportation                 408508  11347.444444   58363   44169
Wholesalers                    444800  11120.000000   48681    8233

                                                 Employees                \
                                     mean    max       sum          mean
Sector
Aerospace & Defense           1437.100000   7608    968057  48402.850000
Apparel                        549.066667   3273    346397  23093.133333
Business Services              553.470588   6328   1361050  26687.254902
Chemicals                      754.266667   7685    463651  15455.033333
Energy                        -602.024590  16150   1188927   9745.303279
Engineering & Construction     204.000000    803    406708  15642.615385
Financials                    1872.007194  24442   3359948  24172.287770
Food and Drug Stores          1117.266667   5237   1395398  93026.533333
Food, Beverages & Tobacco     1195.744186   7351   1211632  28177.488372
Health Care                   1414.853333  18108   2678289  35710.520000
Hotels, Resturants & Leisure   827.880000   5920   2484245  99369.800000
Household Products             515.285714   7036    646038  23072.785714
Industrials                    451.391304   4833   1545229  33591.934783
Materials                      102.976744    991    638123  14840.069767
Media                          973.880000   8382    550314  22012.560000
Motor Vehicles & Parts        1079.083333   9687   1082560  45106.666667
Retailing                      597.875000  14694   6227629  77845.362500
Technology                    1769.343137  53394   3578949  35087.735294
Telecommunications            3242.466667  17879    832468  55497.866667
Transportation                1226.916667   7610   1536793  42688.694444
Wholesalers                    205.825000   1472    525597  13139.925000


                                  max
Sector
Aerospace & Defense            197200
Apparel                         65300
Business Services              216500
Chemicals                       52000
Energy                          75600
Engineering & Construction      92000
Financials                     331000
Food and Drug Stores           431000
Food, Beverages & Tobacco      263000
Health Care                    203500
Hotels, Resturants & Leisure   505000
Household Products             110000
Industrials                    333000
Materials                       60000
Media                          185000
Motor Vehicles & Parts         215000
Retailing                     2300000
Technology                     411798
Telecommunications             281450
Transportation                 341240
Wholesalers                     78500

# illetrating though group

In [62]:
df=pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [63]:
for sector, data in sectors:
    higest_revenue_value_in_group= data.nlargest(1,'Revenue')
    df=df.append( higest_revenue_value_in_group)

In [64]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [67]:
city=fortune.groupby("Sector")
df=pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [71]:
for cit, data in city:
    higest_value=data.nlargest(1,"Profits")
    df= df.append(higest_value)

In [72]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
45,United Technologies,Aerospace & Defense,Aerospace and Defense,"Farmington, CT",61047,7608,197200
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
204,Visa,Business Services,Financial Data Services,"Foster City, CA",13880,6328,11300
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
301,Lennar,Engineering & Construction,Homebuilders,"Miami, FL",9474,803,7749
23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
62,Coca-Cola,"Food, Beverages & Tobacco",Beverages,"Atlanta, GA",44294,7351,123200
86,Gilead Sciences,Health Care,Pharmaceuticals,"Foster City, CA",32639,18108,8000
534,Caesars Entertainment,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Las Vegas, NV",4654,5920,33000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
93,3M,Industrials,Miscellaneous,"St. Paul, MN",30274,4833,89446
616,USG,Materials,"Building Materials, Glass","Chicago, IL",3776,991,8900
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
67,American Airlines Group,Transportation,Airlines,"Fort Worth, TX",40990,7610,118500
320,HD Supply Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",8779,1472,14000